<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #video {
            width: 100%;
        }
    </style>
</head>

<body>
    <p>Video Player</p>
    <div class="player">
        <video id="video" controls></video>
    </div>

    <input type="file" id="video_upload" name="upload">

    <button id="upload_button">Upload</button>
    <progress id="upload_progress" value="0" max="100"></progress>

    <div id="videoList">

    </div>

</body>
<script src="/static/js/hls.js"></script>
<script src="/static/js/index.js"></script>

</html>